__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db

env/
venv/
ENV/
VENV/
.venv/
.env/

.idea/
!*.iml
!.idea/misc.xml
!.idea/modules.xml

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf/
.idea/vcs.xml
.idea/profiles_settings.xml

Thumbs.db
ehthumbs.db
